<!-- <div class="container">
    <h2>Quản lý sản phẩm</h2>
    <div>
        Lọc theo tên:
        <input
            type="text"
            [(ngModel)]="searchText"
            class="border-2 border-red-500"
        />
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Ảnh</th>
                <th>Mã</th>
                <th>Tên sản phẩm</th>
                <th>Giá sản phẩm</th>
                <th>Ngày tạo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="
                    let product of products | searchBox : searchText;
                    index as i
                "
            >
                <td width="20" class="text-center">{{ i + 1 }}</td>
                <td width="60">
                    <img
                        [src]="product.imageUrl"
                        alt="{{ product.name }}"
                        width="50"
                        height="50"
                    />
                </td>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>
                    {{ product.price | currency : "VND" : "symbol" : "1.3-3" }}
                </td>
                <td>{{ product.releaseDate | date : "dd-MM-yyyy" }}</td>
                <td width="150">
                    <button
                        class="btn btn-danger"
                        (click)="removeProduct(product.id!)"
                    >
                        Xóa
                    </button>
                    <button class="btn btn-primary ms-2">Sửa</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-product-edit [products]="products" (onRemove)="onHandleRemove($event)" /> -->
